.containfootter {
    display: flex;
    flex-direction: row;
    width: auto;
    height: auto;
    background-color: #20558A;
    padding: 15px;
}

.leftfootter {
    display: flex;
    align-items: center;
    justify-content: center;
    border-right: 1px solid white;
}

.leftfootter img {
    width: 4rem;
    height: auto;
}

.centerfootter {
    display: flex;
    justify-content: center;
    flex-direction: column;
    width: auto;
    color: white;
    padding-left: 20px;
}
.centerfootter img {
    width: 1rem;
    height: 1rem;
    filter: invert(1);
    margin-right: 10px;
}


.rightfootter {
    display: flex;
    align-items: center;
    justify-content: center;
}
.face{
    display: flex;
    flex-direction: row;
    width: fit-content;
    height: fit-content;
}
.facebook{
    display: flex;
    align-items: center;
    width: fit-content;
}